BOOT_TYPE=aboot-gptctl
PAGESIZE=4096
KERNEL_OFFSET=0x40000000
PARTITION_A=/dev/disk/by-partlabel/boot_a
PARTITION_B=/dev/disk/by-partlabel/boot_b
DTB_FILE=/usr/share/qemu/qemu-kvm.dtb
# The Dockerfile passes an uncompressed ARM64 Image to aboot-update.
COMPRESS_KERNEL=
